# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.bin

# Rider
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Sonar
.sonarqube/
.scannerwork/

# Coverage reports
src/Back/SoulFoodAiBack/SoulFoodAiBack/Tests/coveragereport/
src/Back/SoulFoodAiBack/SoulFoodAiBack/Tests/coveragereport_controllers/
src/Front/soul-food-ai-front/coverage/
