body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #4CAF50, #FFEB3B);
}
