USE [master]
GO
-- ****** Object:******
CREATE DATABASE [SoulFoodAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SoulFoodAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SoulFoodAI.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SoulFoodAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SoulFoodAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SoulFoodAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SoulFoodAI]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodPlanDailyRecipes](
	[IdFoodPlanDailyRecipe] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdUserFoodPlanDaily] [int] NOT NULL,
	[IdRecipe] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FoodPlanDailyRecipes] PRIMARY KEY CLUSTERED 
(
	[IdFoodPlanDailyRecipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodPlans](
	[IdFoodPlan] [int] IDENTITY(1,1) NOT NULL,
	[FoodPlanName] [nvarchar](100) NOT NULL,
	[ProteinPercent] [float] NOT NULL,
	[CarbPercent] [float] NOT NULL,
	[FatPercent] [float] NOT NULL,
	[VegetableminPercent] [float] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_FoodPlans] PRIMARY KEY CLUSTERED 
(
	[IdFoodPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goals](
	[IdGoal] [int] IDENTITY(1,1) NOT NULL,
	[GoalName] [nvarchar](100) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Goals] PRIMARY KEY CLUSTERED 
(
	[IdGoal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[IdIngredient] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[SubCategory] [nvarchar](50) NULL,
	[Protein] [float] NOT NULL,
	[Carbs] [float] NOT NULL,
	[Fat] [float] NOT NULL,
	[Kcal] [float] NOT NULL,
	[OpenFoodFactsId] [nvarchar](100) NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[Brand] [nvarchar](100) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[CreatedByUserId] [int] NULL,
	[Icon] [nvarchar](50) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Ingredients] PRIMARY KEY CLUSTERED 
(
	[IdIngredient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intolerances](
	[IdIntolerance] [int] IDENTITY(1,1) NOT NULL,
	[IntoleranceName] [nvarchar](100) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Intolerances] PRIMARY KEY CLUSTERED 
(
	[IdIntolerance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meals](
	[IdMeal] [int] IDENTITY(1,1) NOT NULL,
	[MealName] [nvarchar](100) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Meals] PRIMARY KEY CLUSTERED 
(
	[IdMeal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[IdRecipe] [int] IDENTITY(1,1) NOT NULL,
	[RecipeName] [nvarchar](500) NOT NULL,
	[Protein] [float] NOT NULL,
	[Carbs] [float] NOT NULL,
	[Fat] [float] NOT NULL,
	[TotalKcal] [int] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IdMeal] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[RecipeDescription] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Recipes] PRIMARY KEY CLUSTERED 
(
	[IdRecipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeUserIngredients](
	[IdRecipeUserIngredient] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [float] NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[IdRecipe] [int] NOT NULL,
	[IdIngredient] [int] NOT NULL,
 CONSTRAINT [PK_RecipeUserIngredients] PRIMARY KEY CLUSTERED 
(
	[IdRecipeUserIngredient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDatas](
	[IdUserData] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[Age] [int] NOT NULL,
	[Height] [float] NOT NULL,
	[Weight] [float] NOT NULL,
	[MealsPerDay] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdFoodPlan] [int] NOT NULL,
	[IdGoal] [int] NOT NULL,
	[IdIntolerance] [int] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[ChestMeasure] [float] NOT NULL,
	[HipMeasure] [float] NOT NULL,
	[LeftBicepMeasure] [float] NOT NULL,
	[LeftCuadricepsMeasure] [float] NOT NULL,
	[LevelOfActivity] [int] NOT NULL,
	[RightBicepMeasure] [float] NOT NULL,
	[RightCuadricepsMeasure] [float] NOT NULL,
	[WaistMeasure] [float] NOT NULL,
 CONSTRAINT [PK_UserDatas] PRIMARY KEY CLUSTERED 
(
	[IdUserData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDiaries](
	[IdUserDiary] [int] IDENTITY(1,1) NOT NULL,
	[HungerLevel] [int] NOT NULL,
	[EnergyLevel] [int] NOT NULL,
	[SleepQuality] [int] NOT NULL,
	[DietAdherence] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IdUserFoodPlan] [int] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[AiReportResponse] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserDiaries] PRIMARY KEY CLUSTERED 
(
	[IdUserDiary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFoodPlansDaily](
	[IdUserFoodPlanDaily] [int] IDENTITY(1,1) NOT NULL,
	[TargetFat] [float] NOT NULL,
	[RealProtein] [float] NOT NULL,
	[TargetCarbs] [float] NOT NULL,
	[TargetProtein] [float] NOT NULL,
	[IdFoodPlan] [int] NOT NULL,
	[TargetKcal] [int] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdUserFoodPlanWeek] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RealCarbs] [float] NOT NULL,
	[RealFat] [float] NOT NULL,
	[RealKcal] [int] NOT NULL,
 CONSTRAINT [PK_UserFoodPlansDaily] PRIMARY KEY CLUSTERED 
(
	[IdUserFoodPlanDaily] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFoodPlansWeek](
	[IdUserFoodPlanWeek] [int] IDENTITY(1,1) NOT NULL,
	[TotalWeeklyKcal] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdFoodPlan] [int] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IdGoal] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[MealsPerDay] [int] NOT NULL,
	[TotalWeeklyCarbs] [float] NOT NULL,
	[TotalWeeklyFat] [float] NOT NULL,
	[TotalWeeklyProtein] [float] NOT NULL,
	[IsVisibleInHistory] [bit] NOT NULL,
 CONSTRAINT [PK_UserFoodPlansWeek] PRIMARY KEY CLUSTERED 
(
	[IdUserFoodPlanWeek] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFoodPlanWeekIntolerances](
	[IdUserFoodPlanWeekIntolerance] [int] IDENTITY(1,1) NOT NULL,
	[IdUserFoodPlanWeek] [int] NOT NULL,
	[IdIntolerance] [int] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserFoodPlanWeekIntolerances] PRIMARY KEY CLUSTERED 
(
	[IdUserFoodPlanWeekIntolerance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserIngredients](
	[IdUserIngredient] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IdIngredient] [int] NOT NULL,
 CONSTRAINT [PK_UserIngredients] PRIMARY KEY CLUSTERED 
(
	[IdUserIngredient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserIntolerances](
	[IdUserIntolerance] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdIntolerance] [int] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[UserDataIdUserData] [int] NULL,
 CONSTRAINT [PK_UserIntolerances] PRIMARY KEY CLUSTERED 
(
	[IdUserIntolerance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
-- ****** Object:******
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_FoodPlanDailyRecipes_IdRecipe] ON [dbo].[FoodPlanDailyRecipes]
(
	[IdRecipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_FoodPlanDailyRecipes_IdUser] ON [dbo].[FoodPlanDailyRecipes]
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_FoodPlanDailyRecipes_IdUserFoodPlanDaily] ON [dbo].[FoodPlanDailyRecipes]
(
	[IdUserFoodPlanDaily] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_Recipes_IdMeal] ON [dbo].[Recipes]
(
	[IdMeal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_Recipes_IdUser] ON [dbo].[Recipes]
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_RecipeUserIngredients_IdIngredient] ON [dbo].[RecipeUserIngredients]
(
	[IdIngredient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_RecipeUserIngredients_IdRecipe] ON [dbo].[RecipeUserIngredients]
(
	[IdRecipe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_UserDatas_IdFoodPlan] ON [dbo].[UserDatas]
(
	[IdFoodPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_UserDatas_IdGoal] ON [dbo].[UserDatas]
(
	[IdGoal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserDatas_IdUser] ON [dbo].[UserDatas]
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_UserDiaries_IdUserFoodPlan] ON [dbo].[UserDiaries]
(
	[IdUserFoodPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_UserFoodPlansDaily_IdFoodPlan] ON [dbo].[UserFoodPlansDaily]
(
	[IdFoodPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_UserFoodPlansDaily_IdUser] ON [dbo].[UserFoodPlansDaily]
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_UserFoodPlansDaily_IdUserFoodPlanWeek] ON [dbo].[UserFoodPlansDaily]
(
	[IdUserFoodPlanWeek] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_UserFoodPlansWeek_IdFoodPlan] ON [dbo].[UserFoodPlansWeek]
(
	[IdFoodPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_UserFoodPlansWeek_IdGoal] ON [dbo].[UserFoodPlansWeek]
(
	[IdGoal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_UserFoodPlansWeek_IdUser] ON [dbo].[UserFoodPlansWeek]
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_UserFoodPlanWeekIntolerances_IdIntolerance] ON [dbo].[UserFoodPlanWeekIntolerances]
(
	[IdIntolerance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_UserFoodPlanWeekIntolerances_IdUserFoodPlanWeek] ON [dbo].[UserFoodPlanWeekIntolerances]
(
	[IdUserFoodPlanWeek] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_UserIngredients_IdIngredient] ON [dbo].[UserIngredients]
(
	[IdIngredient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_UserIngredients_IdUser] ON [dbo].[UserIngredients]
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_UserIntolerances_IdIntolerance] ON [dbo].[UserIntolerances]
(
	[IdIntolerance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_UserIntolerances_IdUser] ON [dbo].[UserIntolerances]
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
-- ****** Object:******
CREATE NONCLUSTERED INDEX [IX_UserIntolerances_UserDataIdUserData] ON [dbo].[UserIntolerances]
(
	[UserDataIdUserData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ingredients] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Recipes] ADD  DEFAULT ((0)) FOR [IdMeal]
GO
ALTER TABLE [dbo].[Recipes] ADD  DEFAULT ((0)) FOR [IdUser]
GO
ALTER TABLE [dbo].[Recipes] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserDatas] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [ChestMeasure]
GO
ALTER TABLE [dbo].[UserDatas] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [HipMeasure]
GO
ALTER TABLE [dbo].[UserDatas] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [LeftBicepMeasure]
GO
ALTER TABLE [dbo].[UserDatas] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [LeftCuadricepsMeasure]
GO
ALTER TABLE [dbo].[UserDatas] ADD  DEFAULT ((0)) FOR [LevelOfActivity]
GO
ALTER TABLE [dbo].[UserDatas] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [RightBicepMeasure]
GO
ALTER TABLE [dbo].[UserDatas] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [RightCuadricepsMeasure]
GO
ALTER TABLE [dbo].[UserDatas] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [WaistMeasure]
GO
ALTER TABLE [dbo].[UserFoodPlansDaily] ADD  DEFAULT ((0)) FOR [IdUser]
GO
ALTER TABLE [dbo].[UserFoodPlansDaily] ADD  DEFAULT ((0)) FOR [IdUserFoodPlanWeek]
GO
ALTER TABLE [dbo].[UserFoodPlansDaily] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserFoodPlansDaily] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [RealCarbs]
GO
ALTER TABLE [dbo].[UserFoodPlansDaily] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [RealFat]
GO
ALTER TABLE [dbo].[UserFoodPlansDaily] ADD  DEFAULT ((0)) FOR [RealKcal]
GO
ALTER TABLE [dbo].[UserFoodPlansWeek] ADD  DEFAULT ((0)) FOR [IdGoal]
GO
ALTER TABLE [dbo].[UserFoodPlansWeek] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserFoodPlansWeek] ADD  DEFAULT ((0)) FOR [MealsPerDay]
GO
ALTER TABLE [dbo].[UserFoodPlansWeek] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [TotalWeeklyCarbs]
GO
ALTER TABLE [dbo].[UserFoodPlansWeek] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [TotalWeeklyFat]
GO
ALTER TABLE [dbo].[UserFoodPlansWeek] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [TotalWeeklyProtein]
GO
ALTER TABLE [dbo].[UserFoodPlansWeek] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsVisibleInHistory]
GO
ALTER TABLE [dbo].[UserIngredients] ADD  DEFAULT ((0)) FOR [IdIngredient]
GO
ALTER TABLE [dbo].[FoodPlanDailyRecipes]  WITH CHECK ADD  CONSTRAINT [FK_FoodPlanDailyRecipes_Recipes_IdRecipe] FOREIGN KEY([IdRecipe])
REFERENCES [dbo].[Recipes] ([IdRecipe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FoodPlanDailyRecipes] CHECK CONSTRAINT [FK_FoodPlanDailyRecipes_Recipes_IdRecipe]
GO
ALTER TABLE [dbo].[FoodPlanDailyRecipes]  WITH CHECK ADD  CONSTRAINT [FK_FoodPlanDailyRecipes_UserFoodPlansDaily_IdUserFoodPlanDaily] FOREIGN KEY([IdUserFoodPlanDaily])
REFERENCES [dbo].[UserFoodPlansDaily] ([IdUserFoodPlanDaily])
GO
ALTER TABLE [dbo].[FoodPlanDailyRecipes] CHECK CONSTRAINT [FK_FoodPlanDailyRecipes_UserFoodPlansDaily_IdUserFoodPlanDaily]
GO
ALTER TABLE [dbo].[FoodPlanDailyRecipes]  WITH CHECK ADD  CONSTRAINT [FK_FoodPlanDailyRecipes_Users_IdUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
GO
ALTER TABLE [dbo].[FoodPlanDailyRecipes] CHECK CONSTRAINT [FK_FoodPlanDailyRecipes_Users_IdUser]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipes_Meals_IdMeal] FOREIGN KEY([IdMeal])
REFERENCES [dbo].[Meals] ([IdMeal])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipes_Meals_IdMeal]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipes_Users_IdUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipes_Users_IdUser]
GO
ALTER TABLE [dbo].[RecipeUserIngredients]  WITH CHECK ADD  CONSTRAINT [FK_RecipeUserIngredients_Ingredients_IdIngredient] FOREIGN KEY([IdIngredient])
REFERENCES [dbo].[Ingredients] ([IdIngredient])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecipeUserIngredients] CHECK CONSTRAINT [FK_RecipeUserIngredients_Ingredients_IdIngredient]
GO
ALTER TABLE [dbo].[RecipeUserIngredients]  WITH CHECK ADD  CONSTRAINT [FK_RecipeUserIngredients_Recipes_IdRecipe] FOREIGN KEY([IdRecipe])
REFERENCES [dbo].[Recipes] ([IdRecipe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RecipeUserIngredients] CHECK CONSTRAINT [FK_RecipeUserIngredients_Recipes_IdRecipe]
GO
ALTER TABLE [dbo].[UserDatas]  WITH CHECK ADD  CONSTRAINT [FK_UserDatas_FoodPlans_IdFoodPlan] FOREIGN KEY([IdFoodPlan])
REFERENCES [dbo].[FoodPlans] ([IdFoodPlan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDatas] CHECK CONSTRAINT [FK_UserDatas_FoodPlans_IdFoodPlan]
GO
ALTER TABLE [dbo].[UserDatas]  WITH CHECK ADD  CONSTRAINT [FK_UserDatas_Goals_IdGoal] FOREIGN KEY([IdGoal])
REFERENCES [dbo].[Goals] ([IdGoal])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDatas] CHECK CONSTRAINT [FK_UserDatas_Goals_IdGoal]
GO
ALTER TABLE [dbo].[UserDatas]  WITH CHECK ADD  CONSTRAINT [FK_UserDatas_Users_IdUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDatas] CHECK CONSTRAINT [FK_UserDatas_Users_IdUser]
GO
ALTER TABLE [dbo].[UserDiaries]  WITH CHECK ADD  CONSTRAINT [FK_UserDiaries_UserFoodPlansWeek_IdUserFoodPlan] FOREIGN KEY([IdUserFoodPlan])
REFERENCES [dbo].[UserFoodPlansWeek] ([IdUserFoodPlanWeek])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDiaries] CHECK CONSTRAINT [FK_UserDiaries_UserFoodPlansWeek_IdUserFoodPlan]
GO
ALTER TABLE [dbo].[UserFoodPlansDaily]  WITH CHECK ADD  CONSTRAINT [FK_UserFoodPlansDaily_FoodPlans_IdFoodPlan] FOREIGN KEY([IdFoodPlan])
REFERENCES [dbo].[FoodPlans] ([IdFoodPlan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFoodPlansDaily] CHECK CONSTRAINT [FK_UserFoodPlansDaily_FoodPlans_IdFoodPlan]
GO
ALTER TABLE [dbo].[UserFoodPlansDaily]  WITH CHECK ADD  CONSTRAINT [FK_UserFoodPlansDaily_UserFoodPlansWeek_IdUserFoodPlanWeek] FOREIGN KEY([IdUserFoodPlanWeek])
REFERENCES [dbo].[UserFoodPlansWeek] ([IdUserFoodPlanWeek])
GO
ALTER TABLE [dbo].[UserFoodPlansDaily] CHECK CONSTRAINT [FK_UserFoodPlansDaily_UserFoodPlansWeek_IdUserFoodPlanWeek]
GO
ALTER TABLE [dbo].[UserFoodPlansDaily]  WITH CHECK ADD  CONSTRAINT [FK_UserFoodPlansDaily_Users_IdUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFoodPlansDaily] CHECK CONSTRAINT [FK_UserFoodPlansDaily_Users_IdUser]
GO
ALTER TABLE [dbo].[UserFoodPlansWeek]  WITH CHECK ADD  CONSTRAINT [FK_UserFoodPlansWeek_FoodPlans_IdFoodPlan] FOREIGN KEY([IdFoodPlan])
REFERENCES [dbo].[FoodPlans] ([IdFoodPlan])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFoodPlansWeek] CHECK CONSTRAINT [FK_UserFoodPlansWeek_FoodPlans_IdFoodPlan]
GO
ALTER TABLE [dbo].[UserFoodPlansWeek]  WITH CHECK ADD  CONSTRAINT [FK_UserFoodPlansWeek_Goals_IdGoal] FOREIGN KEY([IdGoal])
REFERENCES [dbo].[Goals] ([IdGoal])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFoodPlansWeek] CHECK CONSTRAINT [FK_UserFoodPlansWeek_Goals_IdGoal]
GO
ALTER TABLE [dbo].[UserFoodPlansWeek]  WITH CHECK ADD  CONSTRAINT [FK_UserFoodPlansWeek_Users_IdUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFoodPlansWeek] CHECK CONSTRAINT [FK_UserFoodPlansWeek_Users_IdUser]
GO
ALTER TABLE [dbo].[UserFoodPlanWeekIntolerances]  WITH CHECK ADD  CONSTRAINT [FK_UserFoodPlanWeekIntolerances_Intolerances_IdIntolerance] FOREIGN KEY([IdIntolerance])
REFERENCES [dbo].[Intolerances] ([IdIntolerance])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFoodPlanWeekIntolerances] CHECK CONSTRAINT [FK_UserFoodPlanWeekIntolerances_Intolerances_IdIntolerance]
GO
ALTER TABLE [dbo].[UserFoodPlanWeekIntolerances]  WITH CHECK ADD  CONSTRAINT [FK_UserFoodPlanWeekIntolerances_UserFoodPlansWeek_IdUserFoodPlanWeek] FOREIGN KEY([IdUserFoodPlanWeek])
REFERENCES [dbo].[UserFoodPlansWeek] ([IdUserFoodPlanWeek])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFoodPlanWeekIntolerances] CHECK CONSTRAINT [FK_UserFoodPlanWeekIntolerances_UserFoodPlansWeek_IdUserFoodPlanWeek]
GO
ALTER TABLE [dbo].[UserIngredients]  WITH CHECK ADD  CONSTRAINT [FK_UserIngredients_Ingredients_IdIngredient] FOREIGN KEY([IdIngredient])
REFERENCES [dbo].[Ingredients] ([IdIngredient])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserIngredients] CHECK CONSTRAINT [FK_UserIngredients_Ingredients_IdIngredient]
GO
ALTER TABLE [dbo].[UserIngredients]  WITH CHECK ADD  CONSTRAINT [FK_UserIngredients_Users_IdUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserIngredients] CHECK CONSTRAINT [FK_UserIngredients_Users_IdUser]
GO
ALTER TABLE [dbo].[UserIntolerances]  WITH CHECK ADD  CONSTRAINT [FK_UserIntolerances_Intolerances_IdIntolerance] FOREIGN KEY([IdIntolerance])
REFERENCES [dbo].[Intolerances] ([IdIntolerance])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserIntolerances] CHECK CONSTRAINT [FK_UserIntolerances_Intolerances_IdIntolerance]
GO
ALTER TABLE [dbo].[UserIntolerances]  WITH CHECK ADD  CONSTRAINT [FK_UserIntolerances_UserDatas_UserDataIdUserData] FOREIGN KEY([UserDataIdUserData])
REFERENCES [dbo].[UserDatas] ([IdUserData])
GO
ALTER TABLE [dbo].[UserIntolerances] CHECK CONSTRAINT [FK_UserIntolerances_UserDatas_UserDataIdUserData]
GO
ALTER TABLE [dbo].[UserIntolerances]  WITH CHECK ADD  CONSTRAINT [FK_UserIntolerances_Users_IdUser] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([IdUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserIntolerances] CHECK CONSTRAINT [FK_UserIntolerances_Users_IdUser]
GO
USE [master]
GO
